@import "../../node_modules/normalize.css/normalize.css";
@import "variables";
@import "mixins";

button {
    cursor: pointer;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

$link-decoration: none;
