{
  "env": {
    "browser": true,
    "node": true,
    "jest": true,
    "es2021": true,
    "jquery": true
  },
  "extends": [
    "airbnb",
    "eslint:recommended",
    "prettier"
  ],
  "plugins": [
    "prettier"
  ],
  "rules": {
    "quotes": ["error", "single"],
    "indent": ["error", 4],
    "no-console": "off",
    "import/no-extraneous-dependencies": "off",
    "no-plusplus": "off"
  }
}
