.sea-battle {
    padding: 60px 0;
    &__title {
        text-align: center;
        margin: 0 0 25px 0;
        background: linear-gradient(-60deg, blue 20%, cyan, blue 80%, cyan);
        background-size: 200% 200%;
        color: transparent;
        -webkit-background-clip: text;
        animation: moveWave 4s ease-in-out infinite;
    }
    &__wrap {
       display: flex;
        justify-content: space-between;
    }
    &__menu {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 280px;
        &-item {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            border: 1px solid rgba(192, 191, 191, 0.53);
            border-radius: 20px;
            padding: 15px 0 0 0;
            position: relative;
        }
        &-title {
            font-size: 18px;
            position: absolute;
            top: -11px;
            padding: 0 5px;
            background-color: #FFF;
            color: midnightblue;
        }
        &_btns {
            display: flex;
            flex-direction: column;
        }
        &_btn {
            width: 220px;
            margin-bottom: 10px;
        }
    }
}
@keyframes moveWave {
    0%, 100% {
        background-position: 0, 50%;
    }
    50% {
        background-position: 100% 50%;
    }
}